/* Get rid of default browser stylesheet */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	
	/* border-style: solid;
	border-width: 1px; */
}
html {
	height: 100%;;
	width: 100%;
	
	 	
}
/* Set background image and general font */
body {
	height: 100%;
	font-family: 'Source Sans Pro';
	font-size: 24px;
	
	
}

.container {
	background: -webkit-linear-gradient(left top, #00BFFF, #00FA9A); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #00BFFF, #00FA9A); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #00BFFF, #00FA9A); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #00BFFF, #00FA9A); /* Standard syntax (must be last) */
	background-repeat: no-repeat;

	min-height: 100%;
	padding: 20px;
	margin: 0 auto -50px;
}

/* Header content */
.header {
    
}

.intro {
	text-align: center;
	position: relative;
    color: white;
}

h1 {
    font-size: 5em;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

.user-input {
    margin: 1em;
	text-align: center;
    width: 10em;
    height: 2.5em;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}



.content {
    color: white;
    margin-left: 10em;
	padding-bottom: 3em; /* same height as footer */
}
.content>h2{
    font-size: 4em;
    display: inline;
    text-transform: uppercase;
}


.content>p {
    font-size: 1.5em;
    display: inline;

}
/* footer content */
.push, .footer {
	height: 50px;
}
.footer {
	width: 100%;
	color: white;
	font-size: 0.5em;
	text-align: center;
	background-color: #333;
	line-height: 50px;

}




.
